/* font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* hero-section */
#hero{
    max-width: 1440px;
    height: 650px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .hero-content{
    width: 990px;
    height: 580px;
    text-align: center;
}


.title{
    font-size:45px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.subtitle{
    line-height: 25px;
    font-size: 16;
    padding-bottom: 50px;
}
/* button style */
.btn{
    padding: 24px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
/* develop-section */
.development-section{
    width: 1140px;
    height: auto;
    /* border: 2px solid black; */
    margin: auto;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}
.web{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.web h1{
    padding-bottom: 20px;
    font-size: 32px;
}
.text-image{
    display: flex;
    padding: 48px;
}
.text-content{
    width: 700px;
    background-color: #fff;
}
.text-content h1{
    font-size: 22px;
    line-height: 35px;
}
.text-content p{
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-2{
    font-size: 20px;
    padding: 20px 12px;
}

.content-image img{
    text-align:right;
    padding-left: 100px;
    
}
.content-image-1 img{
    padding-right: 100px;
}
/* inspiration-section */
.inspiration-section{
    text-align: center;
    width: 1140px;
    margin: auto;
}
.inspiration-section h1{
    font-size: 32px;
    padding: 20px;
}
.inspiration-section p{
    padding-top: 20px;
    padding-bottom: 20px;
}
iframe {
    width: auto;
    height: 550px;
}

.ins-img {
    width: 1140px;
    padding-top: 20px;
    background-color: rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.ins-img img{
    height: 550px;
}